
{% set server = salt['grains.filter_by']({
    'Arch': {
        'version': '2.8',
        'pkgs': ['redis'],
        'service': 'redis',
        'conf_dir': '/etc/redis.conf',
        'bind': {
            'address': '127.0.0.1',
            'port': '6379'
        }
    },
    'Debian': {
        'version': '2.8',
        'pkgs': ['redis-server'],
        'service': 'redis-server',
        'conf_dir': '/etc/redis',
        'bind': {
            'address': '127.0.0.1',
            'port': '6379'
        }
    },
    'RedHat': {
        'version': '3.0',
        'pkgs': ['redis'],
        'service': 'redis',
        'conf_dir': '/etc',
        'bind': {
            'address': '127.0.0.1',
            'port': '6379'
        },
        'min_slaves_to_write': '1'
    },
}, merge=salt['grains.filter_by']({
    'stretch': {
        'version': '3.0',
    },
    'xenial': {
        'version': '3.0',
    },
}, grain='oscodename', merge=salt['pillar.get']('redis:server'))) %}

{% set cluster = salt['grains.filter_by']({
    'Debian': {
        'enabled': False
    },
}, merge=salt['grains.filter_by']({
    'stretch': {
        'service': 'redis-sentinel',
        'sentinel': {
            'address': '0.0.0.0',
            'port': '26379',
            'down_after_milliseconds': '5000',
            'cluster_name': 'master_1'
        }
    },
    'xenial': {
        'service': 'redis-sentinel',
        'sentinel': {
            'address': '0.0.0.0',
            'port': '26379',
            'down_after_milliseconds': '5000',
            'cluster_name': 'master_1'
        }
    },
}, grain='oscodename', merge=salt['pillar.get']('redis:cluster'))) %}
